
.commerce-forgot-password-container .default-content-wrapper h2 {
  margin-top: 0;
}

.commerce-forgot-password-container .default-content-wrapper p {
  font: var(--type-details-4-font);
  color: var(--color-text-dark);
  padding-bottom: var(--space-space-16);
  padding-top: var(--space-space-8);
  margin: 0;
  text-align: center;
}

.password-container {
  max-width: 50rem;
}

.commerce-forgot-password-container form button {
  width: 100%;
}

.commerce-forgot-password-container form {
  display: flex;
  flex-direction: column;
  gap: var(--space-space-24);
}

@media(width >= 768px) {
  .commerce-forgot-password-container .default-content-wrapper p {
    text-align: start;
  }
}
