.offer {
  background-color: var(--color-primary-100);
  color: var(--color-neutral-50);
  padding: var(--space-space-48) var(--space-space-24);
  text-align: center;
}

.offer .offer-title {
  font-size: var(--font-size-8);
  margin-bottom: var(--space-space-24);
  font-family: var(--type-base-font-family);
}

.offer .offer-subtitle {
  font-size: var(--font-size-10);
  margin-bottom: var(--space-space-8);
  font-family: var(--type-base-font-family-bold);
}

.offer .offer-description {
  font-size: var(--font-size-4);
  margin-bottom: var(--space-space-24);
}

.offer .offer-nav {
  display: flex;
  gap: var(--space-space-16);
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: var(--space-space-24);
}

.offer .offer-nav-button {
  padding: var(--space-space-8) var(--space-space-16);
  border: 1px solid var(--color-neutral-50);
  color: var(--color-neutral-50);
  text-decoration: none;
  font-size: var(--font-size-3);
  transition: background-color 0.3s ease;
}

.offer .offer-nav-button:hover {
  background-color: var(--color-neutral-50);
  color: var(--color-primary-100);
}

.offer .offer-validity {
  font-size: var(--font-size-3);
}

@media (max-width: 767px) {
  .offer .offer-title {
    font-size: var(--font-size-6);
  }

  .offer .offer-subtitle {
    font-size: var(--font-size-8);
  }

  .offer .offer-nav {
    gap: var(--space-space-8);
  }
}
