.added-to-bag-dialog {
  min-width: 100%;
}

.added-to-bag-dialog .product-content .product-configs li {
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-4);
  line-height: 1.56;
}

.added-to-bag-dialog .modal-footer h4 {
  margin: 0;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-6);
  line-height: 2.2;
}

.added-to-bag-dialog .product-content h4,
.added-to-bag-dialog .product-content h5 {
  margin: 0;
}

.added-to-bag-dialog .product-content .product-price h4 {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-6);
  line-height: 1.82;
  color: var(--color-primary-100);
}

.modal dialog.added-to-bag-dialog .modal-header {
  padding: var(--space-space-16) var(--space-space-12);
  box-shadow: 0 2rem 10rem 0 var(--color-opacity-16);
  background: var(--color-neutral-50);
  border-radius: var(--radius-radius-none, 0);
}

.modal dialog.added-to-bag-dialog .modal-header h4 {
  text-align: initial;
  font-weight: var(--font-weight-6);
}

.modal dialog.added-to-bag-dialog .modal-header .icon-title-left {
  position: relative;
  top: -0.4rem;
  width: 2rem;
  height: 2rem;
}

.modal dialog.added-to-bag-dialog .modal-header .modal-close,
.modal dialog.added-to-bag-dialog .modal-header .icon-close img {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
}

.modal dialog.added-to-bag-dialog .modal-content {
  padding: 0;
  overflow: visible;
}



.added-to-bag-dialog .modal-buttons {
  display: flex;
  gap: var(--space-space-4x);
  padding: var(--space-space-16) 0;
  margin: 0 var(--space-space-16);
}

.added-to-bag-dialog .modal-carousel {
  padding: var(--space-space-16) 0;
  margin: 0 var(--space-space-18);
}

.added-to-bag-dialog .modal-buttons a.button {
  width: 100%;
  justify-content: center;
  margin: 0;
}

.added-to-bag-dialog .modal-footer {
  display: flex;
  justify-content: space-between;
  padding: var(--space-space-24) var(--space-space-16);
  border-top: 1px solid var(--color-neutral-40);
  color: var(--color-text-main);
}

.added-to-bag-dialog .modal-product {
  display: flex;
  padding: var(--space-space-4) var(--space-space-12) var(--space-space-12)
    var(--space-space-12);
  gap: var(--space-space-20);
}

.added-to-bag-dialog .modal-product .swatch-img {
  width: 8.6rem;
}

.added-to-bag-dialog .product-content {
  display: flex;
  flex-direction: column;
}

.added-to-bag-dialog .product-content .product-title {
  font: var(--type-details-4-font);
  line-height: 2.24rem;
  margin-bottom: var(--space-space-8);
}

.added-to-bag-dialog .product-content .product-price {
  margin-bottom: var(--space-space-16);
  display: flex;
  gap: var(--space-space-4);
  flex-direction: column;
}

.added-to-bag-dialog .product-content .product-price .price-lables {
  display: flex;
  gap: var(--space-space-1x);
  align-items: center;
}

.added-to-bag-dialog .product-content .product-price h5,
.added-to-bag-dialog .product-content .product-price span {
  font-size: var(--font-size-1);
  font-weight: var(--font-weight-4);
  line-height: var(--line-height-xl);
}

.added-to-bag-dialog .product-content .product-price h5 {
  color: var(--color-text-dark);
  text-decoration: line-through;
}

.added-to-bag-dialog .product-content .product-price span {
  display: inline-block;
  padding: var(--space-space-4);
  background-color: var(--color-tertiary-100);
  color: var(--color-text-main);
  width: auto;
}

.added-to-bag-dialog .product-content .product-configs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.added-to-bag-dialog .product-content .product-configs li span:first-child {
  color: var(--color-secondary-30);
}

@media (width >= 768px) {
  .added-to-bag-dialog {
    min-width: auto;
    overflow-x: hidden;
  }

  .added-to-bag-dialog .modal-buttons {
    border-top: 1px solid var(--color-neutral-40);
    padding: var(--space-space-16) 0;
  }

  .modal dialog.added-to-bag-dialog .modal-header {
    border-bottom: none;
    padding: var(--space-space-16) var(--space-space-12);
    box-shadow: none;
  }

  .added-to-bag-dialog .modal-product {
    padding: var(--space-space-12);
  }

  .modal dialog.added-to-bag-dialog .modal-header .icon-title-left {
    top: 0.2rem;
  }

  .added-to-bag-dialog .modal-footer {
    display: flex;
  }
}
