/* stylelint-disable no-empty-source */

.new-password-container {
    max-width: 50rem;
    padding: var(--space-space-16) 0;
  }

.new-password-container form {
    display: flex;
    flex-direction: column;
    gap: var(--space-space-24);
}

.new-password-container .input-wrapper {
    height: 5.4rem;
    position: relative;
}

.new-password-container form button {
    width: 100%;
}
