
@import url("../../styles/forms.css");

.change-password-container {
  padding: var(--space-space-24) 0;
}

.change-password-container form {
  display: flex;
  flex-direction: column;
  gap: var(--space-space-24);
}

.change-password-container .input-wrapper {
  height: 5.4rem;
  position: relative;
}

@media (width >= 768px) {
  .change-password-container button {
    width: 24rem;
  }
}
