.section.customer-details-container .customer-details-wrapper{
    padding: var(--space-space-16) 0 0;
}

.my-details-container form{
    display: flex;
    flex-direction: column;
    gap: var(--space-space-20);
}

.phonevalidation input{
    padding: var(--space-space-12) var(--space-space-16);
    padding-inline-start: 5.6rem;
    height: 4rem;
    background: var(--color-neutral-200);
}

.input-field-wrapper input:disabled{
    background: var(--color-neutral-200);
    color: var(--color-secondary-30);
}

.input-field-wrapper input:disabled + label{
    color: var(--color-secondary-30);
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    /* stylelint-disable property-no-vendor-prefix */
    -webkit-appearance: none;
}

.add-more-section {
    border: 0.1rem solid var(--color-neutral-40);
    padding: var(--space-space-16) var(--space-space-12);
}

.accordion.plus .accordion-item-label{
    position: relative;
    cursor: pointer;
}

.accordion.plus .accordion-item-label::after {
    background-image: url('/icons/plus.svg');
    width: 2rem;
    height: 2rem;
    border: 0;
    transform: translateY(-50%);
    content: "";
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transition: transform 0.2s;
    background-size: contain;
}

.accordion.plus.open .accordion-item-label::after {
    background-image: url('/icons/minus.svg');
}

.account .main-wrapper .add-more-section h3 {
    font-size: var(--font-size-3);
    line-height: var(--line-height-l);
    font-weight: var(--font-weight-4);
    margin: 0;
    border: 0;
    padding-bottom: 0;
}

.add-more-section h3 span{
    font-size: var(--font-size-2);
    line-height: var(--line-height-s);
    color: var(--color-text-dark);
}

.add-more-section .accordion-subhead{
    font-size: var(--font-size-1);
    line-height: var(--line-height-m);
    color: var(--color-text-dark);
}

.add-more-fields{
    display: flex;
    flex-direction: column;
    gap: var(--space-space-16);
}

.accordion.plus .accordion-item-body {
    transition: 300ms max-height ease;
    max-height: 0;
    overflow: hidden;
}

.accordion.plus.open .accordion-item-body {
    max-height: fit-content;
    margin-top: var(--space-space-16);
    overflow: unset;
}

.add-more-field{
    font-size: var(--font-size-3);
    line-height: var(--line-height-l);
    color: var(--color-text-dark);
}

.add-more-fields input#dob{
    background: var(--color-neutral-200);
    -webkit-appearance: none;
    color: var(--color-text-main);
}

.add-more-fields input[type="date"]::-webkit-date-and-time-value {
    text-align: left;
    -webkit-appearance: none;
}

html[dir='rtl'] .add-more-fields input[type="date"]::-webkit-date-and-time-value {
    text-align: right;
}

.dobtext {
    font-size: var(--font-size-3);
    line-height: var(--line-height-l);
    color: var(--color-text-dark);
    margin: var(--space-space-4) 0 0;
    order: 3;
}

.input-field-wrapper select{
   padding : var(--space-space-12) var(--space-space-16);
   background: var(--color-neutral-200);
   appearance: none;
}

.phonevalidation > div{
    display:flex;
    align-items: end;
}

.phonevalidation .error-message-container{
    flex: 0 0 100%;
}

.phonevalidation .input-wrapper{
    width: calc(100% - 11rem);
}

html[dir='rtl'] .phonevalidation > div:not(.error-message-container) {
    flex-direction: row-reverse;
}

html[dir='rtl'] #dob{
    text-align: right;
}

html[dir='rtl'] .accordion.plus .accordion-item-label::after{
    left: var(--spacing-xxsmall-2);
    right:  unset;
}

.phonevalidation button{
    height: 4rem;
    width: 11rem;
    margin: 0;
}

.otp-helptext{
    font-size: var(--font-size-2);
    line-height: var(--line-height-s);
    color: var(--color-text-dark);
    padding-bottom: var(--space-space-8);
    margin:0;
}

.my-details-container form button[type='submit']{
    margin: 0;
    width: 100%;
}

@media (width >=768px) {
    .section.customer-details-container .customer-details-wrapper{
        padding: var(--space-space-40) 0 0;
    }

    .my-details-container form{
        max-width: var(--grid-col-3);
        gap: var(--space-space-24);
    }
}