<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine DP</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap">
   
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="/fragments/magazine-pages/img/hm-magazine-main-banner-01.webp" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample"></p>
 <h1 class="hm-magazine-h1">Presenting H&M Studio A/W 2024</h1>
 <p class="hm-magazine-description">A versatile autumn-winter wardrobe with an edge, designed by H&M's in-house design team.</p>
 <p class="date-p">19 September 2024</p>
</div>
<!-- Text section ends here -->
<!-- image text block ends  -->

<!-- DP Container block starts  -->
<div class="hm-magazine-dp-block-container">
<!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">With the latest Studio collection, the design team found inspiration in the world of music, focusing on the jazz principles of reinvention and transition. A musician's wardrobe shifting effortlessly from day to night or backstage to the spotlight served as a foundation during the design process.</p>
    <p class="hm-magazine-description-dp">"For autumn, the design team were inspired by the strong yet easy-going style of jazz musicians— throwing on a look and hitting the stage, then out into the night," says Linda Wikell, Concept Designer at H&M.</p>
</div>
   <!-- DP Text section ends here -->

    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="/fragments/magazine-pages/img/hm-magazine-dp-banner-02.webp"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->
    <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Anchored in reinvented classics, the collection finds a balance between relaxed and statement, masculine and feminine, resulting in a seasonal wardrobe that allows for creativity and timeless style.</p>
    <p class="hm-magazine-description-dp">"This season mixes pulse-racing pieces and reworked classics to wear year after year, plus accessories that give an outfit a cool edge"</p>
    <p class="hm-magazine-description-dp">says Ann-Sofie Johansson, Creative Advisor & Head of Womenswear Design at H&M.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="/fragments/magazine-pages/img/hm-magazine-dp-banner-03.webp"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

      <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">Key looks include a statement trench coat, an oversized shearling jacket, dark-wash denim with metallic details, sharply tailored leather trousers, white sling-back pumps, grey thigh-high boots and an oversized tote bag. Shimmering finishes and a spotlight-inspired print provide a gleaming counterpoint.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="/fragments/magazine-pages/img/hm-magazine-dp-banner-04.webp"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

         <!-- DP Text section starts here -->
<div class="hm-magazine-text-hold-dp">
    <p class="hm-magazine-description-dp">The collection comes to life in a campaign photographed in Paris by Karim Sadli, filmed by Mathieu Plainfossé, styled by Suzanne Koller and starring Loli Bahia.</p>
</div>
   <!-- DP Text section ends here -->
    <!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
    <img src="/fragments/magazine-pages/img/hm-magazine-dp-banner-05.webp"  alt="hm-magazine">
   </div>
   <!-- col-1 Image section ends here -->

</div>
<!-- DP Container block ends  -->
  </div>
</body>

</html>
