<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/fragments/magazine-pages/style1.css">
</head>

<body>
    <div class="hm-studio-lp-wrap">
        <div class="banner-wrap mt-0 mb-0">
            <img class="desktop-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-1.jpg" alt="">
            <img class="mobile-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-1.jpg" alt="">
        </div>
        <div class="studio-text-wrap">
            <h1 class="main-title">DEMO test - H&M STUDIO SUMMER MINI CAPSULE</h1>
            <p class="studio-para">A collection of laid-back beachwear made from Regenerative Organic Certified® cotton.
            </p>
        </div>
        <div class="banner-wrap mt-0">
            <img class="desktop-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-2.jpg" alt="">
            <img class="mobile-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-2.jpg" alt="">
        </div>
        <div class="banner-wrap">
            <img class="desktop-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-3.jpg" alt="">
            <img class="mobile-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-3.jpg" alt="">
        </div>
        <div class="banner-wrap">
            <img class="desktop-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-4.jpg" alt="">
            <img class="mobile-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-4.jpg" alt="">
        </div>
        <div class="banner-wrap">
            <img class="desktop-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-5.jpg" alt="">
            <img class="mobile-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-5.jpg" alt="">
        </div>
        <div class="banner-wrap">
            <img class="desktop-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-6.jpg" alt="">
            <img class="mobile-visible" src="https://kw.hm.com/sites/g/files/bndsjb1556/files/2024-05/w22-hm-studio-bnr-new-6.jpg" alt="">
        </div>

    </div>
</body>

</html>