<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>H&M Magazine Main</title>
  <link rel="stylesheet" href="/fragments/magazine-pages/magazine-style.css">
</head>

<body>
  <div class="hm-magazine-wrap">
   
<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/en/magazine/presenting-hm-studio">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">19 September 2024</p>
</div>
<!-- Date section ends here -->
<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="/fragments/magazine-pages/img/hm-magazine-main-banner-01.webp" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample"></p>
 <h1 class="hm-magazine-h1">Presenting H&M Studio A/W 2024</h1>
 <p class="hm-magazine-description">A versatile autumn-winter wardrobe with an edge, designed by H&M's in-house design team.</p>
 <div class="hm-magazine-cta-arrow">read the story</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->




<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/en/magazine/presenting-hm-studio">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">29 August 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="/fragments/magazine-pages/img/hm-magazine-main-banner-02.webp" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">Reebok x H&M: Rooted in Sports</h1>
 <p class="hm-magazine-description">Introducing the new Reebok x H&M kidswear collaboration.</p>
 <div class="hm-magazine-cta-arrow">read the story</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->


<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/en/magazine/presenting-hm-studio">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">11 July 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="/fragments/magazine-pages/img/hm-magazine-main-banner-03.webp" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">H&M presents new season arrivals</h1>
 <p class="hm-magazine-description">Find out how to build a new season wardrobe with all the essentials – and more.</p>
 <div class="hm-magazine-cta-arrow">read the story</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->


<!-- image text block starts  -->
<a class="hm-magazine-link-hold" href="/en/magazine/presenting-hm-studio">
  <!-- Date section starts here -->
<div class="hm-magazine-date-hold">
 <p class="date-p">11 July 2024</p>
</div>
<!-- Date section ends here -->

<!-- col-1 Image section starts here -->
<div class="hm-magazine-col-1-img-hold">
 <img src="/fragments/magazine-pages/img/hm-magazine-main-banner-04.webp" alt="hm-magazine">
</div>
<!-- col-1 Image section ends here -->
<!-- Text section starts here -->
<div class="hm-magazine-text-hold">
 <p class="hm-magazine-preample">INSIDE H&M</p>
 <h1 class="hm-magazine-h1">Time for preschool</h1>
 <p class="hm-magazine-description">Here’s your guide to dressing your baby or toddler.</p>
 <div class="hm-magazine-cta-arrow">read the story</div>
</div>
<!-- Text section ends here -->
</a>
<!-- image text block ends  -->

  </div>
</body>

</html>
