.download-cards {
  padding: var(--space-space-4x);
  max-width: var(--grid-col-8);
  margin: 0 auto;
}

.download-cards .header {
  text-align: center;
  margin-bottom: var(--space-space-6x);
}

.download-cards .header h2 {
  font: var(--type-headline-1-font);
  color: var(--color-text-main);
  margin-bottom: var(--space-space-3x);
}

.download-cards .header p {
  font: var(--type-body-1-default-font);
  color: var(--color-text-dark);
  max-width: 80%;
  margin: 0 auto;
}

.download-cards .cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--space-space-4x);
}

.download-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--space-space-4x);
  background-color: var(--color-neutral-100);
  border-radius: var(--shape-border-radius-2);
}

.download-cards .card picture {
  width: 100%;
  margin-bottom: var(--space-space-3x);
}

.download-cards .card img {
  width: 100%;
  height: auto;
  border-radius: var(--shape-border-radius-1);
}

.download-cards .card h3 {
  font: var(--type-headline-1-font);
  margin-bottom: var(--space-space-2x);
  color: var(--color-text-main);
}

.download-cards .card p {
  font: var(--type-body-2-default-font);
  margin-bottom: var(--space-space-4x);
  color: var(--color-text-dark);
}

.download-cards .card .download-button {
  display: inline-block;
  padding: var(--space-space-2x) var(--space-space-4x);
  background-color: var(--color-primary-100);
  color: var(--color-neutral-50);
  text-decoration: none;
  border-radius: var(--shape-border-radius-1);
  transition: background-color 0.3s ease;
}

.download-cards .card .download-button:hover {
  background-color: var(--color-primary-50);
}

@media (max-width: 768px) {
  .download-cards .cards-container {
    grid-template-columns: 1fr;
  }

  .download-cards .header p {
    max-width: 100%;
  }
}
