.social-share-overlay-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-share ul {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1.2rem 1.2rem;
  align-items: center;
  justify-content: center;
}

.social-share li {
  margin: 0;
  background: var(--color-neutral-50);
  padding: var(--space-space-3x) var(--space-space-3x);
  cursor: pointer;
  border: 1px solid var(--color-neutral-black);
}

.social-share li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-share button.social-share-overlay-copy-btn {
  background-color: var(--color-neutral-10);
  border-radius: 0;
  border: 1px solid var(--color-text-main);
  color: var(--color-text-main);
  margin: 0;
  height: 4.8rem;
  padding: var(--space-space-3x) var(--space-space-4x);
  cursor: pointer;
}

.social-share .copy-msg {
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.social-share-overlay-copy-btn.copied span {
  visibility: hidden;
  opacity: 0;
}

.social-share-overlay-copy-btn.copied span.copy-msg {
  visibility: visible;
  opacity: 1;
}

.social-share .icon:not(.icon-share) {
  width: 2.4rem;
  height: 2.4rem;
}

.social-share .icon-share {
  padding: 0.4rem;
  border-radius: 50%;
  background-color: var(--color-neutral-50);
}

.social-share-overlay.show {
  display: block;
}

@media (width > 767px) {
  .social-share ul {
    width: 100%;
  }

  .social-share .icon-share {
    border: 1px solid black;
    border-radius: 0;
  }

  .social-share .round-icon {
    border-radius: 50%;
  }
  
  .social-share .no-border {
    border: unset;
  }
}