.aura-tool-tip {
    display: flex;
    align-items: center;
    gap: var(--space-space-2x);
}

.aura-tool-tip.question {
    display: inline-block;
    vertical-align: bottom;
    margin-left: var(--space-space-1x);
}

.aura-tool-tip__title {
    font: var(--type-details-semibold-3-font);
}

.aura-tool-tip.question .aura-tool-tip__title::before,
.loyalty__salesinfo__points-earned-message::before {
    content: '?';
    font-size: var(--font-size-2);
    font-weight: bold;
    width: 18px;
    height: 1.8rem;
    color: var(--background-color);
    background: var(--color-aura-info-question);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.loyalty__salesinfo__points-earned-message::before {
    content: '!';
    margin-right: var(--space-space-1x);
}

.aura-tool-tip .aura-tool-tip__wrapper {
    position: relative;
}

.aura-tool-tip .aura-tool-tip__wrapper .icon-container .icon-info {
    width: 1.6rem;
    height: 20px;
}

.aura-tool-tip .aura-tool-tip__info-value {
    visibility: hidden;
    width: 11rem;
    background-color: var(--color-neutral-white);
    color: var(--color-icon-base);
    text-align: center;
    padding: var(--spacing-xsmall);
    border-radius: var(--spacing-xxsmall-2);
    border: var(--shape-border-width-1) solid var(--color-icon-base);
    position: absolute;
    z-index: 1;
    bottom: var(--spacing-big);
    font-size: var(--shape-border-width-11);
    right: 0;
    left: unset;
    margin-right: -8px;
}

.aura-tool-tip .aura-tool-tip__info-value.blue-bg {
    background-color: var(--color-tooltip-blue);
    border-color: var(--color-tooltip-blue);
    color: var(--color-neutral-white);
    right: -10px;
    padding: 7px;
}

.aura-tool-tip:hover .aura-tool-tip__info-value {
    visibility: visible;
    width: var(--space-space-162);
}

.aura-tool-tip .aura-tool-tip__info-value::before {
    content: '';
    display: block;
    position: absolute;
    rotate: 180deg;
    border: var(--shape-border-width-10) solid transparent;
    border-bottom-color: black;
    top: 100%;
    right: 18%;
}

.aura-tool-tip .aura-tool-tip__info-value.blue-bg::before {
    border-bottom-color: var(--color-tooltip-blue);
}

.aura-tool-tip .aura-tool-tip__info-value::after {
    content: '';
    display: block;
    position: absolute;
    rotate: 180deg;
    border: var(--shape-border-width-9) solid transparent;
    border-bottom-color: var(--color-neutral-white);
    right: 19%;
    top: 100%;
}

.aura-tool-tip .aura-tool-tip__info-value.blue-bg::after {
    border-bottom-color: var(--color-tooltip-blue);
}

html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value {
    right: unset;
    left: 0;
    margin-left: -8px;
}

html[dir="rtl"] .aura-tool-tip:hover .aura-tool-tip__info-value {
    visibility: visible;
}

html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value::before {
    content: '';
    display: block;
    position: absolute;
    rotate: 180deg;
    border: var(--shape-border-width-10) solid transparent;
    border-bottom-color: black;
    top: 100%;
    right: 61%;
}

html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value.blue-bg::before {
    border-bottom-color: var(--color-tooltip-blue);
}

html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value::after {
    content: '';
    display: block;
    position: absolute;
    rotate: 180deg;
    border: var(--shape-border-width-9) solid transparent;
    border-bottom-color: var(--color-neutral-white);
    top: 100%;
    right: 62%;
}

html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value.blue-bg::after {
    border-bottom-color: var(--color-tooltip-blue);
}

@media (width>=768px) {
    .aura-tool-tip .aura-tool-tip__info-value {
        visibility: hidden;
        background-color: var(--color-neutral-white);
        color: var(--color-icon-base);
        text-align: center;
        padding: var(--spacing-xxsmall-2) 0;
        border-radius: var(--spacing-xxsmall-2);
        position: absolute;
        z-index: 1;
        font-size: 12px;
    }

    .aura-tool-tip .aura-tool-tip__info-value::before {
        content: '';
        display: block;
        position: absolute;
        rotate: 180deg;
        border: var(--space-space-10) solid transparent;
        border-bottom-color: black;
        top: 100%;
        right: 13%;
    }

    .aura-tool-tip .aura-tool-tip__info-value::after {
        content: '';
        display: block;
        position: absolute;
        rotate: 180deg;
        border: var(--space-space-2x-1) solid transparent;
        border-bottom-color: var(--color-neutral-white);
        top: 100%;
        right: 13.5%;
    }

    .aura-tool-tip:hover .aura-tool-tip__info-value {
        visibility: visible;
    }

    html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value {
        visibility: hidden;
        width: 100%;
        min-width: 14rem;
        background-color: var(--color-neutral-white);
        color: var(--color-icon-base);
        padding: var(--spacing-xxsmall-2) 0;
        border-radius: var(--spacing-xxsmall-2);
        border: var(--shape-border-width-1) solid var(--color-icon-base);
        position: absolute;
        z-index: 1;
        bottom: var(--spacing-big);
        right: -3rem;
        font-size: var(--shape-border-width-11);
    }

    html[dir="rtl"] .aura-tool-tip:hover .aura-tool-tip__info-value {
        visibility: visible;
    }

    html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value::before {
        content: '';
        display: block;
        position: absolute;
        rotate: 180deg;
        border: var(--shape-border-width-10) solid transparent;
        border-bottom-color: black;
        top: 100%;
        right: 57%;
    }

    html[dir="rtl"] .aura-tool-tip .aura-tool-tip__info-value::after {
        content: '';
        display: block;
        position: absolute;
        rotate: 180deg;
        border: var(--shape-border-width-9) solid transparent;
        border-bottom-color: var(--color-neutral-white);
        top: 100%;
        right: 57.5%;
    }
}